In [1]:
import pandas as pd
data = pd.read_csv("Predict Academic Success - data.csv")

In [2]:
# Define the mapping of course codes to course names
mapped_course = {
    33: "Biofuel Production Technologies", 171: "Animation and Multimedia Design",8014: "Social Service (evening attendance)", 9003: "Agronomy",9070: "Communication Design",9085:"Veterinary Nursing", 9119: "Informatics Engineering", 9130: "Equinculture", 9147: "Management",9238: "Social Service",9254: "Tourism",9500: "Nursing",9556: "Oral Hygiene", 9670: "Advertising and Marketing Management",9773: "Journalism and Communication",9853: "Basic Education",9991: "Management (evening attendance)"
}

In [3]:
# Replace course codes with their corresponding course names
data["Course"] = data["Course"].replace(mapped_course)

In [4]:
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,Animation and Multimedia Design,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,Tourism,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,Communication Design,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,Journalism and Communication,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,Social Service (evening attendance),0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,Journalism and Communication,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,Journalism and Communication,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,Nursing,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,Management,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,Journalism and Communication,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [5]:
data.to_csv('Predict_Academic_Success_Modified.csv', index=False)